<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md sm:text-center">
            <h2
                class="mb-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white"
            >
                Suscríbete a nuestro boletín
            </h2>
            <p
                class="mx-auto mb-8 max-w-2xl text-gray-500 md:mb-8 sm:text-xl dark:text-gray-400"
            >
                Para estar al d&iacute;a con las ultimas noticias
            </p>
            <form action="#">
                <div
                    class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0"
                >
                    <div class="relative w-full">
                        <label
                            for="email"
                            class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                            >Email address</label
                        >
                        <div
                            class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
                        >
                            <svg
                                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 16"
                            >
                                <path
                                    d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                                ></path>
                                <path
                                    d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                                ></path>
                            </svg>
                        </div>
                        <input
                            class="block p-3 pl-9 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Ingresa tu email"
                            type="email"
                            id="email"
                            required=""
                        />
                    </div>
                    <div>
                        <button
                            type="submit"
                            class="py-3 px-5 w-full text-sm font-medium text-center text-white rounded-lg border cursor-pointer bg-cyan-600 hover:bg-blue-900 transition duration-300 sm:rounded-none sm:rounded-r-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                            >Suscribirse</button
                        >
                    </div>
                </div>
                <div
                    class="mx-auto max-w-screen-sm text-sm text-left text-gray-500 newsletter-form-footer dark:text-gray-300"
                >
                    Nos preocupamos por la protección de sus datos.&nbsp;<a
                        href="#"
                        class="font-medium text-primary-600 dark:text-primary-500 hover:underline"
                        >Lea nuestra Política de privacidad</a
                    >.
                </div>
            </form>
        </div>
    </div>
</section>

<footer class="bg-blue-100 dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between pt-10">
            <div class="mb-6 md:mb-0">
                <a href="#" class="flex items-center">
                    <img
                        src="/assets/icons/logo-sm.svg"
                        class="h-16 me-3"
                        alt="Infocentral Logo"
                    />
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2
                        class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
                    >
                        Categorias
                    </h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a
                                href="https://flowbite.com/"
                                class="hover:underline">Flowbite</a
                            >
                        </li>
                    </ul>
                </div>
                <div>
                    <h2
                        class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
                    >
                        Infocentral
                    </h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a
                                href="/about-us"
                                class="hover:underline">Sobre nosotros</a
                            >
                        </li>
                        <li>
                            <a
                                href="/contact-us"
                                class="hover:underline">Contacto</a
                            >
                        </li>
                    </ul>
                </div>
                <div>
                    <h2
                        class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
                    >
                        Legal
                    </h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline"
                                >Política de privacidad</a
                            >
                        </li>
                        <li>
                            <a href="#" class="hover:underline"
                                >Terminos y Condiciones</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr
            class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span
                class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
                >© 2023 <a href="https://flowbite.com/" class="hover:underline"
                    >infocentral™</a
                >. All Rights Reserved.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a
                    href="#"
                    class="text-gray-500 hover:text-cyan-500 transition duration-500"
                >
                    <i class="fa-brands fa-facebook"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a
                    href="#"
                    class="text-gray-500 hover:text-cyan-500 transition duration-500 ms-5"
                >
                    <i class="fa-brands fa-instagram"></i>
                    <span class="sr-only">Instagram</span>
                </a>
                <a
                    href="#"
                    class="text-gray-500 hover:text-cyan-500 transition duration-500 ms-5"
                >
                    <i class="fa-brands fa-x-twitter"></i>
                    <span class="sr-only">Twitter</span>
                </a>
                <a
                    href="#"
                    class="text-gray-500 hover:text-cyan-500 transition duration-500 ms-5"
                >
                    <i class="fa-brands fa-youtube"></i>
                    <span class="sr-only">YouTube</span>
                </a>
            </div>
        </div>
    </div>
</footer>
